<h1>Aptiunix - Demo Task</h1>
<div class="main">
<div class="card" *ngFor="let item of arrayOne(6); let i = index;">
  <div class="file-upload">
    <div class="image-upload-wrap" *ngIf="!arr[i]">
      <input class="file-upload-input" type='file' #fileInput (change)="onFileChanged($event,i);" accept="image/*" required="true" />
      <div class="drag-text">
        <span class="badge">{{i+1}}</span>
        <h6>UPLOAD <br>OR <br>DRAG IMAGE</h6>
      </div>
    </div>
    <div class="file-upload-content" *ngIf="arr[i]">
      <img class="file-upload-image" [src]="(arr[i])?arr[i]:''" alt="your image" />
      <div class="image-title-wrap mt-3">
        <button type="button" (click)="removeUpload(i)" class="remove-image">remove</button>
      </div>
    </div>
  </div>
</div>
</div>
